/* <source lang="css"> */

/*-----------------------------------------------------------------------------------------------*/
/* ACHTUNG! Common.css enthält die gemeinsamen Skin-Anpassungen der deutschsprachigen Wikipedia */
/*---------------------------------------------------------------------------------------------*/

/* Common.css ist in drei grundlegende Abschnitte gegliedert: */

/* 1. Editierbare Seiteninhalte */
/* 2. Sonstige Anpassungen (Spezialseiten, u.a.) */
/* 3. Hauptseitenspezifisches */

/* Jede Ergänzung/Änderung muss vorher jeweils für alle Skins auf Tauglichkeit getestet werden, */
/* individuell per User.css! Ist hier erstmal geändert, dauert es dank Cache eine Weile, bis die */
/* Änderungen bei allen Nutzern sichtbar oder, bei Fehlern, korrigiert sind. */

/* +++++ 1. ANPASSUNGEN DER ANZEIGE VON EDITIERBAREN SEITENINHALTEN +++++ */

/* Personennamen in Kapitälchen: class="Person" */

.Person {
	font-variant: small-caps;
	font-style: normal;
}

/* [[Wikipedia:Zitate|Zitate]] (siehe [[Vorlage:Zitat]]) */

p.Zitat {
	font-style: normal;
	margin-bottom: 0;
}
p.cite {
	margin-top: 0;
	padding-left: 1em;
}

/* [[Wikipedia:Quellenangaben|Quellenangaben]] nicht kursiv, da sie ggf. verschiedene Bestandteile enthalten */

cite {
	font-style: normal;
}

/* Stylesheet-Ergänzung zu Standard-[[Wikipedia:Navigationsleisten|Navigationsleisten]] */

div.NavFrame {
	clear: both;
	margin: 1.5em 0 0;
	border: 1px solid #aaa;
	padding: 2px;
	font-size: 95%;
	text-align: center;
}

/* Automatisches Verschmelzen, funktioniert nicht im IE 6 */
div.NavFrame + div.NavFrame {
	margin-top: -1px;
}
div.NavPic {
	margin: 0;
	padding: 2px;
	float: left;
}
div.NavHead {
	font-weight: bold;
	background-color: #efefef;
}

/* Redundant zu .visualClear in shared.css und IE60Fixes.css */
div.NavEnd {
	margin: 0;
	padding: 0;
	line-height: 1px;
	clear: both;
}

/* Stylesheet fuer den 'Ausklappen'-Button an Navileisten, der in [[MediaWiki:Common.js]] implementiert wird */
.NavToggle {
	font-size: x-small;
	float: right;
}

/* Workaround für Internet Explorer 6 */
div.NavFrame,
div.NavPic,
.NavToggle {
	position: relative;
}

/* [[Vorlage:NaviBlock]] */
div.BoxenVerschmelzen {
	clear: both;
	margin: 1.5em 0 0;
	border: 1px solid #aaa;
	padding: 2px 0 0;
	font-size: 95%;
}
div.BoxenVerschmelzen div.NavFrame {
	margin-top: 0;
	border-style: none;
	padding-top: 0;
	font-size: 100%;
}

/* Stylesheet-Ergänzung zu SideBoxen (ehedem [[Wikipedia:TownBox|TownBox]]) */

div.sideBox {
	position: relative; /* IE 6 */
	float: right;
	background: white;
	margin-left: 1em;
	border: 1px solid gray;
	padding: 0.3em;
	width: 200px;
	overflow: hidden;
	clear: right;
}
div.sideBox dl {
	padding: 0;
	margin: 0 0 0.3em 0;
	font-size: 96%;
}
div.sideBox dl dt {
	background: none;
	margin: 0.4em 0 0 0;
}
div.sideBox dl dd {
	margin: 0.1em 0 0 1.1em;
	background-color: #f3f3f3;
}

/* Stylesheet-Ergänzung zu [[Wikipedia:Taxoboxen|Taxoboxen]] und [[Wikipedia:Paläoboxen|Paläoboxen]] */
table.taxobox,
table.palaeobox {
	border-collapse: collapse;
	border: 1px solid gray;
	background-color: white;
	/* redundant zu class="float-right" */
	float: right;
	clear: right;
	margin: 1em 0 1em 1em;
}
table.taxobox th,
table.palaeobox th {
	background-color: #9bcd9b;
	border: solid 1px gray;
	text-align: center;
	font-weight: bold;
}
table.palaeobox th {
	background-color: #e7dcc3;
}
table.taxobox div.thumb,
table.taxobox div.thumb *,
table.palaeobox div.thumb,
table.palaeobox div.thumb * {
	background-color: #f9f9f9;
	margin: 0 auto;
	padding: 0;
	float: none;
	border: none;
}
table.taxobox div.magnify,
table.palaeobox div.magnify {
	display: none;
}
table.taxobox tr td div.thumb div div.thumbcaption,
table.taxobox td.Person,
table.taxobox td.taxo-name,
table.taxobox td.taxo-bild,
table.palaeobox tr td div.thumb div div.thumbcaption,
table.palaeobox td.Person,
table.palaeobox td.taxo-name,
table.palaeobox td.taxo-bild,
table.palaeobox td.taxo-zeit {
	text-align: center;
}
table.palaeobox td.taxo-ort {
	text-align: left;
}

/* Bitte KEINE weiteren Definitionen dieser Art für Boxen hier, das gehört in entsprechende Vorlagen! */
/* Hier 20 Mal Trivialitäten wie "text-align:center" zu definieren verlangsamt alles und ist nicht */
/* Sinn der Sache. (Und wer nicht weiß warum, hat's nicht verstanden.) */

/* aus Vorlage zur Entlastung, skinabhängigen Darstellung und Kombinierbarkeit hierher ausgelagert */
.wikitable,
.prettytable {
	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #aaa solid;
	border-collapse: collapse;
}
.prettytable th,
.prettytable td {
	border: 1px #aaa solid;
	padding: 0.2em;
}
.prettytable th {
	text-align: center;
}
.prettytable caption {
	font-weight: bold;
}

/* Zebra-Tabellen */
table.wikitable.zebra tr:nth-child(even) {
	background: white;
}

.nogrid th,
.nogrid td {
	border: none;
}
div.float-left,
table.float-left,
.float-left {
	float: left;
	clear: left;
}
div.float-right,
table.float-right,
.float-right {
	float: right;
	clear: right;
	margin: 1em 0 1em 1em;
}
div.centered,
table.centered,
.centered {
	margin-left: auto;
	margin-right: auto;
}
.toptextcells td {
	vertical-align: top;
}

/* Metadaten (bspw. [[Wikipedia:Personendaten|Personendaten]]) */

div.metadata,
span.metadata,
span.metadata-inline,
table.metadata,
tr.metadata {
	display: none;
}
table.metadata {
	border: 1px solid #aaaaaa;
}
.metadata-label {
	color: #aaaaaa;
}

/*
 * Farbdefinitionen für Rahmen und Hintergründe von [[Wikipedia:Textbausteine|Textbausteinen]].
 * Hier: Standardvorgaben für "dunkle Schrift auf hellem Grund".
 * Für Hell-auf-dunkel-Skins ([[MediaWiki:Amethyst.css|Amethyst]]) müssen dort entsprechende Definitionen
 * zusätzlich eingetragen werden! Anpassungen für andere Skins sind optional.
 * (Die Angaben der Rahmenstärke dienen der Bequemlichkeit, so dass man
 * für dünne Rahmen nur noch "border-style" angeben muss.)
 */

.rahmenfarbe1 { /* Wie Inhaltsverzeichnis */
	border-color: #aaaaaa;
	border-width: 1px;
}
.rahmenfarbe2 { /* Unauffällig, geringer Kontrast */
	border-color: #e9e9e9;
	border-width: 1px;
}
.rahmenfarbe3 { /* "Rot", auffällig */
	border-color: #c00000;
	border-width: 1px;
}
.rahmenfarbe4 { /* Neutrale Farbe, deutlich */
	border-color: #8888aa;
	border-width: 1px;
}
.rahmenfarbe5 { /* "Schwarz", hoher Kontrast */
	border-color: #000000;
	border-width: 1px;
}

tr.hintergrundfarbe1 th,
tr th.hintergrundfarbe1,
table.hintergrundfarbe1,
.hintergrundfarbe1 { /* Wie Inhaltsverzeichnis */
	background-color: #f9f9f9;
}
tr.hintergrundfarbe2 th,
tr th.hintergrundfarbe2,
table.hintergrundfarbe2,
.hintergrundfarbe2 { /* "Weiß", für Nicht-Artikel-Seiten, neutral */
	background-color: #ffffff;
}
tr.hintergrundfarbe3 th,
tr th.hintergrundfarbe3,
table.hintergrundfarbe3,
.hintergrundfarbe3 { /* "Gelb", auffällig */
	background-color: #ffff40;
}
tr.hintergrundfarbe4 th,
tr th.hintergrundfarbe4,
table.hintergrundfarbe4,
.hintergrundfarbe4 { /* Sehr auffällig */
	background-color: #ffaa00;
}
tr.hintergrundfarbe5 th,
tr th.hintergrundfarbe5,
table.hintergrundfarbe5,
.hintergrundfarbe5 { /* Neutral, abgesetzt */
	background-color: #e0e0e0;
}
tr.hintergrundfarbe6 th,
tr th.hintergrundfarbe6,
table.hintergrundfarbe6,
.hintergrundfarbe6 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
	background-color: #b3b7ff;
}
tr.hintergrundfarbe7 th,
tr th.hintergrundfarbe7,
table.hintergrundfarbe7,
.hintergrundfarbe7 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
	background-color: #ffcbcb;
}
tr.hintergrundfarbe8 th,
tr th.hintergrundfarbe8,
table.hintergrundfarbe8,
.hintergrundfarbe8 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
	background-color: #ffebad;
}
tr.hintergrundfarbe9 th,
tr th.hintergrundfarbe9,
table.hintergrundfarbe9,
.hintergrundfarbe9 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
	background-color: #b9ffc5;
}

/* Keine Vergrößerung der Zeilenhöhe durch hochgestellte Zahlen der Fußnoten */

sup.reference {
	font-weight: 400;
	font-style: normal;
}
sup,
sub {
	line-height: 1em;
}

/* Hervorhebung der angeklickten Fußnoten und der Rückverweise in blau */

ol.references > li:target,
sup.reference:target {
	background-color: #def;
}

/* Hochgestellte Buchstaben in der Einzelnachweiseliste kursiv setzen */

ol.references li a[href|="#cite_ref"] {
	font-style: italic;
}

/* Inline-Verwendung der [[:Kategorie:Vorlage:Schwesterprojektverweis|Schwesterprojektverweise]] */

ol.references li div.sisterproject {
	display: inline;
}

/* Für <nowiki><hiero>…</hiero></nowiki> */

.mw-hierotable,
.mw-hierotable th,
.mw-hierotable td {
	border: 0;
	padding: 0;
}

/* Für MediaWiki:Missingcommentheader */

div#mw-missingcommentheader b {
	color: #990000;
}

/* Für [[MediaWiki:Anoneditwarning]] und weitere Hinweise, die alle untereinander stehen */

#mw-anon-edit-warning,
#mw-missingsummary,
#wp_talkpagetext {
	width: 80%;
	background: #d3e1f2;
	border: 1px solid #1a47ff;
	margin: 1em auto;
	padding: 1em;
}

/* Bei URLs, die auf unser Projekt und verwandte Projekte verweisen, den Pfeil ausblenden
 * Dieser Pfeil dient nur dazu, auf externe Ziele hinzuweisen
 * Auf den Einsatz der Klasse "plainlinks" kann dadurch verzichtet werden
 */
div#content a.external[href^="http://de.wikipedia.org"],
div#content a.external[href^="https://secure.wikimedia.org/wikipedia/de/"],
div#content a.external[href^="http://toolserver.org"],
#mw_content a.external[href^="http://de.wikipedia.org"],
#mw_content a.external[href^="https://secure.wikimedia.org/wikipedia/de/"],
#mw_content a.external[href^="http://toolserver.org"] {
	background: none;
	padding-right: 0;
}

/* [[bugzilla:23902]] */
.mw-search-formheader div.search-types ul li a {
	background: none !important;
	padding: 0.5em !important;
}

/* Falls bei der Seitenbearbeitung vergessen wurde, die Zusammenfassung auszufüllen */
.mw-summarymissed {
	border: 5px solid red;
	padding: 2px;
}

/* Copyrightwarnung */

#editpage-copywarn {
	border: solid 1px #c00000;
	font-size: 90%;
	background-color: #ffffff;
}

.mw-tos-summary {
	border: solid 1px #c00000;
	background-color: #ffffff;
	padding-left: 1em;
}

/* +++++ 2. SONSTIGE ANPASSUNGEN (Spezialseiten u. a.) +++++ */

/* Markierung von Redirects in [[Special:Allpages]], [[Special:Watchlist]], Kategorien */

.allpagesredirect,
.watchlistredir,
.redirect-in-category {
	font-style: italic;
}

/* Fettformatierung von Admin-Spezialseiten in [[Special:Specialpages]] abschalten */
.mw-specialpagerestricted strong {
	font-weight: normal;
}
/* Legende auf [[Special:Specialpages]] ebenfalls abschalten */
div.mw-specialpages-notes {
	display: none;
}

/* Größerer Abstand zwischen TOC-Nummerierung und TOC-Eintrag */
span.tocnumber {
	margin-right: 0.3em;
}

/* Skinabhängige absolute Positionierungen ausblenden */
/* Bitte [[MediaWiki Diskussion:Common.css#Absolute_Positionierungen]] beachten */

#coordinates,
#issnlink,
#editcount,
#shortcut,
#artikelstadium,
.topicon,
#spoken-icon,
#commons-icon {
	display: none;
}

/* Anpassungen für [[:Template:Link_FA]] */

/* change the bullets for links to special articles */
#p-lang li.FA {
	/* hier immer auch linkFA_bullet in Common.js mit anpassen für die älteren skins! */
	list-style-image: url("http://upload.wikimedia.org/wikipedia/commons/d/d0/Monobook-bullet-star-transparent.png");
}

/* change the bullets for links to special articles */
#p-lang li.GA {
	/* hier immer auch linkGA_bullet in Common.js mit anpassen für die älteren skins! */
	list-style-image: url("http://upload.wikimedia.org/wikipedia/commons/a/a1/Monobook-bullet-star-gray.png");
}

/* Verhindere, dass Infoboxen etc. in den Inhalt von Kategorien hineinragen.
Das betrifft nur Kategorieseiten. */
#mw-subcategories,
#mw-pages {
	clear: both;
}

/* DIVs in ImageMaps inlinen (Vorschlag von Revolus) */
.imagemap-inline div {
	display: inline;
}

/* [[Special:Hochladen]]: Warnmeldung auf bestehende Dateien, unerwünschte Prefixe usw. deutlicher hervorheben. */

#wpDestFile-warning ul {
	border: solid red 1px;
	padding: 1.5em;
}

/* Warnmeldung für gesperrte Titel */
.mw-titleprotectedwarning {
	background-color: #eee;
	border: 2px solid red;
	padding: 1em;
}

/* Warnmeldung bei der Bearbeitung von Seiten im MediaWiki-Namensraum */
.mw-editinginterface {
	background-color: #f9f9f9;
	border-color: #c00000;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
}

/* Überschrift 5. und 6. Ordnung proportionaler zu Fließtext */
#content h5 {
	font-size: 108%; /* Original: 100% */
}
#content h5 .editsection {
	font-size: 93%; /* 1/108% */
}
#content h6,
#content h6 .editsection {
	font-size: 100%; /* Original: 80% = kleiner als Bodytext, unschön */
}

/* Anleitung auf Special:Search */
.mw-searchresult {
	font-size: 84%;
	margin: 5px;
}

/* Gestaltung der Edittools-Leiste */
#specialchars {
	margin-top: 3px;
	border: solid 1px #aaaaaa;
	padding: 1px;
	text-align: left;
	background-color: white;
}

/* Legende für Versionsgeschichte */
.mw-history-legend {
	font-size: 90%;
	margin-top: 2px;
	margin-bottom: 2px;
	border: solid 1px #e9e9e9;
	padding: 0 5px 5px 5px;
	background-color: #f9f9f9;
	clear: both;
}

/* +++++ 3. NEUE [[Wikipedia:Hauptseite|HAUPTSEITE]] (ab 2006) +++++ */

/* Kategorie verbergen */
/* Überschrift verbergen */
/* Redirhinweis verbergen - ACHTUNG: Je nach Skin muss jetzt der Abstand zum oberen Rand korrigiert werden */
body.page-Wikipedia_Hauptseite #catlinks,
body.page-Wikipedia_Hauptseite h1.firstHeading,
body.page-Wikipedia_Hauptseite #contentSub {
	display: none;
}

#hauptseite h2 {
	background-color: #d8e8ff;
	border: 1px solid #8898bf;
	font-size: 1em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
#hauptseite .inhalt {
	background-color: #ffffff;
	border: 1px solid #8898bf;
	border-top: 0 solid white;
	padding: 0.3em 0.8em 0.4em 0.8em;
}
#hauptseite .inhalt hr {
	background-color: #8898bf;
	color: #8898bf;
	height: 1px;
	margin: 0.5em 0;
	padding: 0;
}
#hauptseite .inhalt .mehr {
	clear: both;
	font-size: 95%;
	margin-top: 0.8em;
	text-align: right;
}
#hauptseite table {
	background-color: transparent;
}
.hauptseite-oben,
.hauptseite-links,
.hauptseite-rechts {
	margin-bottom: 1em;
}
.hauptseite-links {
	margin-right: 0.5em;
}
.hauptseite-rechts {
	margin-left: 0.5em;
}
.hauptseite-oben h2,
.hauptseite-unten h2 {
	text-align: center;
}
.hauptseite-oben .inhalt .portale {
	font-weight: bold;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
.hauptseite-oben .inhalt .intern {
	font-size: 90%;
	text-align: center;
}
.hauptseite-links h2,
.hauptseite-rechts h2 {
	text-indent: 0.8em;
}
#hauptseite-schwesterprojekte .inhalt a {
	font-weight: bold;
}

/* IPA links nicht unterstreichen */
.IPA a:link,
.IPA a:visited {
	text-decoration: none;
}

/* CSS-Klassen für Schriftarten als Workaround für Defizite in alten IE-Versionen.
 * Achtung: IE 6 und 7 mögen keine Zeilenumbrüche zwischen den Fonts.
 * In IE8 nicht mehr nötig, soll mit den alten Versionen aussterben. Browserweiche:
 * http://de.wikipedia.org/w/index.php?diff=76143595&oldid=76098729
 */
* html .Unicode {
	font-family: Code2000, Sun-ExtA, "Arial Unicode MS", NSimSun, sans-serif;
}
:first-child ~ html .Unicode {
	font-family: Code2000, Sun-ExtA, "Arial Unicode MS", NSimSun, sans-serif;
}
* html .Unicode1 {
	font-family: Code2001, Quivira, "MPH 2B Damase", sans-serif;
}
:first-child ~ html .Unicode1 {
	font-family: Code2001, Quivira, "MPH 2B Damase", sans-serif;
}
* html .Unicode2 {
	font-family: Sun-ExtB, Code2002, sans-serif;
}
:first-child ~ html .Unicode2 {
	font-family: Sun-ExtB, Code2002, sans-serif;
}
* html .IPA {
	font-family: Quivira, Code2000, Sun-ExtA, "DejaVu Sans", Gentium, Helvetica, "Arial Unicode MS", "Lucida Sans Unicode", sans-serif;
}
:first-child ~ html .IPA {
	font-family: Quivira, Code2000, Sun-ExtA, "DejaVu Sans", Gentium, Helvetica, "Arial Unicode MS", "Lucida Sans Unicode", sans-serif;
}
* html .IAST {
	font-family: Code2000, SunExtA, "Arial Unicode MS", sans-serif;
}
* html .altitalisch {
	font-family: Quivira, Code2001, "MPH 2B Damase", sans-serif;
}
:first-child ~ html .altitalisch {
	font-family: Quivira, Code2001, "MPH 2B Damase", sans-serif;
}
* html .gotisch {
	font-family: Quivira, Code2001, "MPH 2B Damase", sans-serif;
}
:first-child ~ html .gotisch {
	font-family: Quivira, Code2001, "MPH 2B Damase", sans-serif;
}
* html .hebrew {
	font-family: Quivira, Sun-ExtA, "Arial Unicode MS", "SBL Hebrew", Code2000, "MPH 2B Damase", sans-serif;
}
:first-child ~ html .hebrew {
	font-family: Quivira, Sun-ExtA, "Arial Unicode MS", "SBL Hebrew", Code2000, "MPH 2B Damase", sans-serif;
}
* html .spanAr {
	font-family: "Arial Unicode MS", Scheherazade, Code2000, "DejaVu Sans", sans-serif;
}
:first-child ~ html .spanAr {
	font-family: "Arial Unicode MS", Scheherazade, Code2000, "DejaVu Sans", sans-serif;
}
* html .music-symbol {
	font-family: "Musical Symbols", Euterpe, Code2001, sans-serif;
}
:first-child ~ html .music-symbol {
	font-family: "Musical Symbols", Euterpe, Code2001, sans-serif;
}
* html .polytonic {
	font-family: "Arial Unicode MS", "Palatino Linotype", Code2000, "New Athena Unicode", Gentium, "Athena Unicode";
}
* html .okina {
	font-family: "Lucida Sans Unicode";
}

/* Flagged-Revisions-Backlog-Sitenotice */
.fr-watchlist-pending-notice {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
}
.fr-watchlist-pending-notice b {
	display: none;
}

/* Standardmäßige Ausblendung der Flagged-Revisions-Kommentarbox */
#mw-fr-commentbox {
	display: none;
}

/* Hintergrund des Sichten-Links auf der Beobachtungsliste entfärben */
.mw-fr-reviewlink {
	background-color: transparent;
}

/* Korrekturen für den ausklappbaren Teil der FlaggedRevs-Box:
 * - Positionierung im Vordergrund relativ positionierter Vorlagen
 *   (Positionskarte, Lageplan, Bausteindesign1 usw.)
 * - Standardmäßig ausgeblendet, weil er ohne JavaScript sonst Inhalte versperrt
 *   ([[bugzilla:14128]]), flaggedrevs.js blendet ihn wieder ein
 */
div.flaggedrevs_short div {
	z-index: 1; /* IE <= 7 */
}
#mw-fr-revisiondetails {
	z-index: auto;
	display: none;
}

/* Abstand zwischen Liste und Inhaltsverzeichnis erhöhen, siehe http://de.wikipedia.org/w/index.php?title=MediaWiki_Diskussion:Common.css&oldid=51639015#Abstand_vor_Inhaltsverzeichnis */
ul + .toc,
ol + .toc {
	margin-top: 0.5em;
}

/* höheres Uploadfeld */
#wpUploadDescription {
	height: 20em;
}

/* Im Projekt WP:GEO benutzt die [[Vorlage:Coordinate]] das «geo-microformat» zur semantischen
Auszeichnung des Texts. Der Inhalt dieses [[Tag (Informatik)|Tags]] ist nicht für den Leser bestimmt. */
.geo {
	display: none;
}

/* Patrollink ausblenden, da die Eweiterung hier nicht aktiviert ist und
   deren Optik zu sehr den gesichteten Versionen ähnelt. */
.fr-diff-patrollink,
.patrollink {
	display: none;
}

/* Rollback-Knopf auf Beobachtungsliste ausblenden, da es dort nur von sehr beschränktem Nutzen
   ist und zu sehr vielen Reverts aus Versehen führt */
.page-Spezial_Beobachtungsliste .mw-rollback-link {
	display: none;
}

/* </source> */